# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
output_data_file = "output_data\cities.csv"
city_data = pd.read_csv(output_data_file)
city_data.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Dafeng,23.4517,108.5881,29.05,69,54,0.95,CN,1663501710
1,1,Nuuk,64.1835,-51.7216,10.34,66,40,2.57,GL,1663501711
2,2,Airai,-8.9266,125.4092,16.52,71,90,0.78,TL,1663501712
3,3,Arraial Do Cabo,-22.9661,-42.0278,18.92,82,40,3.60,BR,1663501714
4,4,Te Anau,-45.4167,167.7167,5.22,93,100,1.16,NZ,1663501715

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = city_data[['Lat','Lng']]
humidity = city_data['Humidity'].astype(float)

In [4]:
gmaps.configure(api_key=g_key)
figure = gmaps.figure()

heat_map = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=90,point_radius=4)
figure.add_layer(heat_map)

figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_df= city_data.loc[(city_data['Max Temp'] < 27) & (city_data['Max Temp'] > 21) & (city_data['Wind Speed'] < 4.5)  
                & (city_data['Cloudiness'] == 0)]
narrowed_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Lourdes,43.1000,-0.0500,22.71,35,0,2.57,FR,1663501716
115,115,Yulara,-25.2406,130.9889,22.02,19,0,2.50,AU,1663501890
160,160,Cassilandia,-19.1133,-51.7342,24.07,32,0,3.47,BR,1663501954
215,215,Socorro,31.6546,-106.3033,25.21,47,0,0.00,US,1663502029
324,324,San Ignacio,17.1561,-89.0714,23.08,100,0,0.00,BZ,1663502187
325,325,Urumqi,43.8010,87.6005,22.53,15,0,3.00,CN,1663502188
467,467,Clearwater,27.9659,-82.8001,23.29,88,0,1.34,US,1663502404
483,483,Lamar,33.6668,-95.5836,24.64,90,0,3.01,US,1663502431
577,577,San Borja,-14.8167,-66.8500,25.39,69,0,1.27,BO,1663502566

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = narrowed_df.reset_index(drop=True)
hotel_df['Hotel Name'] = ""
hotels = []
for index,row in hotel_df.iterrows():
    lat = row['Lat']
    long = row['Lng']
    latlong = f'{lat},{long}'
    url = f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={latlong}&radius=5000&type=hotel&key={g_key}'
    response = requests.get(url).json()
    results = response['results']
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "-None available-"
        
        pass

In [7]:
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,5,Lourdes,43.1000,-0.0500,22.71,35,0,2.57,FR,1663501716,Lourdes
1,115,Yulara,-25.2406,130.9889,22.02,19,0,2.50,AU,1663501890,Petermann
2,160,Cassilandia,-19.1133,-51.7342,24.07,32,0,3.47,BR,1663501954,Cassilândia
3,215,Socorro,31.6546,-106.3033,25.21,47,0,0.00,US,1663502029,Ciudad Juárez
4,324,San Ignacio,17.1561,-89.0714,23.08,100,0,0.00,BZ,1663502187,San Ignacio
5,325,Urumqi,43.8010,87.6005,22.53,15,0,3.00,CN,1663502188,Ürümqi
6,467,Clearwater,27.9659,-82.8001,23.29,88,0,1.34,US,1663502404,Clearwater
7,483,Lamar,33.6668,-95.5836,24.64,90,0,3.01,US,1663502431,Paris
8,577,San Borja,-14.8167,-66.8500,25.39,69,0,1.27,BO,1663502566,-None available-

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
hotel_name = list(hotel_df['Hotel Name'])
hotel_map = gmaps.figure(zoom_level=1.5, center=(20,30))
hotel_map = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure
hotel_figure = gmaps.figure()
hotel_figure.add_layer(heat_map)
hotel_figure.add_layer(hotel_map)

In [10]:
hotel_figure

Figure(layout=FigureLayout(height='420px'))